.login-container {
  justify-content: center;
  align-items: center;

  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 40px;

  border-radius: 8px;
  background-color: #cbdfde;
  font-family: "Hubballi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #2d3939;
}

.login-container h2 {
  text-align: center;
  font-family: "Itim", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  color: #2d3939;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 0px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  width: 50%;
  padding: 10px;
  background-color: #ca9a32;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Hubballi", sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 1.5rem;
}

.login-container button:hover {
  transform: scale(1.05);
  background-color: #ca9a32;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Shadow becomes stronger on hover */
}

.login-container .error-message {
  color: red;
  text-align: center;
}
